@import "./styles/navbar.css";
@import "./styles/header.css";
@import "./styles/section.css";
@import "./styles/images.css";

.body_{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    width: 100%;
    font-size: 95%;
}
