.navbar_{ 
    font-size: 90%;
    display: flex;
    width: calc(100%);
    padding: 10px;
    box-shadow: 0px 3px 3px rgb(195, 188, 188);
    gap: 12px;
    justify-content: center;
    align-items: center;  
}

.logo_{
    width: 90px;
}

.nav-items_{
    display: inline-block;
}

.link_{
    color: rgb(3, 3, 53);
    text-decoration: none;
    white-space: nowrap;
}

.link_:visited{
    color: rgb(3, 3, 53);
}

.link_:hover{
    color: rgb(100, 7, 100);
}

.search-bar_{
    width: 60%;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 40px;
    padding: 10px;
    background-color: rgb(244, 244, 244);
}

.submit_{
    background-color: transparent;
    border: none;
    outline-width: 0;
}

.search-field_{
    border: none;
    outline-width: 0;
    width: 88%;
    background-color: rgb(244, 244, 244);
}

.cart_{
    width: 50px;
    height: 40px;
    background-color: white;
    color: rgb(3, 3, 53);
    border: none;
    font-size: 90%;
    font-weight: 550;
}

.log_{
    width: 80px;
    height: 40px;
    background-color: white;
    color: rgb(3, 3, 53);
    border-width: 1px;
    border-color: rgb(3, 3, 53);
    font-size: 90%;
    font-weight: 550;
    white-space: nowrap;
}

.sign_{
    width: 80px;
    height: 40px;
    background-color: rgb(3, 3, 53);
    color: white;
    border-width: 1px;
    border-color: rgb(3, 3, 53);
    font-size: 80%;
    font-weight: 550;
    white-space: nowrap;
}

.lang_{
    height: 40px;
    background-color: white;
    color: rgb(3, 3, 53);
    border-width: 1px;
    border-color: rgb(3, 3, 53);
    font-size: 90%;
    font-weight: 550;
}

button:hover{
    cursor: pointer;
}

/* mobile screen */
@media screen and (max-width: 800px) {
    .display-small_{
        display: none;
    }
    .navbar_{
        justify-content: space-between;
    }
}

/* small screen */
@media screen and (min-width: 801px) {
    .display-bar_, .display-udemyBusiness_, .display-teach_{
        display: none;
    }
}

/* medium screen */
@media screen and (min-width: 1040px) {
    .display-bar_{
        display: none;
    }
    .display-teach_{
        display: inline-block;
    }
}

/* large screen */
@media screen and (min-width: 1200px) {
    .display-bar_{
        display: none;
    }
    .display-teach_, .display-udemyBusiness_{
        display: inline-block;
    }
    .navbar_{
        justify-content: space-between;
    }
}
